@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primaryBtn{
    background-color: #5542F6;
    border: none;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
  }
  .secBtn{
    border: 2px solid #fff;
    color: #fff;
    padding: 5px 15px;
    align-items: center;
    border-radius: 5px;
  }
}